<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <!-- Navbar -->
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <span class="navbar-brand mb-0 h1">NEWS API- PLP HACKTHON APRIL 2024 </span>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% for item in articles %}

                <div class="card rounded shadow-lg m-2" style="width: 25rem;">
                    <p class="card-text">{{item.author}}</p>
                    <h5 class="card-title">{{item.title}}</h5>
                    <img src="{{item.urlToImage}}" class="card-img-top" alt="Image Not Found">
                    <div class="card-body">
                    <p class="card-text">{{item.description}}</p>
                    <small>{{item.publishedAt}}</small>
                    <a href="{{ item.url }}" class="btn btn-success m-1">Read More</a>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="col-md-6">


        </div>

    </div>
</div>

</body>

</html>